*
  padding: 0
  margin: 0
  box-sizing: border-box
body
  display: flex
  border: 1px solid red
  justify-content: center
  height: 100vh
  .App
    display: flex
    border: 1px solid red
    form
      border: 1px solid #333
      padding: 10px
      gap: 5px
      display: flex
      flex-direction: column
      width: 350px
      label
        display: flex
        flex-direction: column
        font-family: Arial, Helvetica, sans-serif
        input
          padding: 5px
        button
          padding: 5px
        ul
          color: red
          list-style-type: "X "
          list-style-position: inside
          font-size: 12px
